#Ignore everything in datafolder and subdirectories
/data/**/*
/tmp/**/*

#Ignore byond config folder.
/cfg/**/*

#Ignore compiled files and other files generated during compilation.
*.dmb
*.rsc
*.test.dme
*.lk
*.int
*.backup
